@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: "KumbhSans";
  font-size: 10px;
}

.profile-card {
  font-size: 1.2rem;
  color: $color-neutral;

  &__name,
  &__indicator-number {
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-secondary-dark;
  }

  &__age,
  &__location {
    font-weight: 400;
    color: $color-secondary-light;
  }

  &__location {
    font-size: 1.4rem;
  }

  &__indicator-description {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}
