body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  overflow: hidden;

  // Background
  background-color: $color-primary;
  background-image: url("../../images/bg-pattern-top.svg"),
    url("../../images/bg-pattern-bottom.svg");
  background-position: calc(50% - 450px) calc(50% - 450px),
    calc(50% + 450px) calc(50% + 450px);
  background-repeat: no-repeat;
}
